@import '../../master';

.track {
  // width: 3rem;
  margin: 1rem;
}

.track__img {
  width: 300px;
}

.track__title {
  font-family: $main-font;
  text-transform: uppercase;
}

.track__artist {
  font-family: $body-font;
}