@import '../../master';

.dashboard {
  margin: auto;
  width: 100vw;
}

.dashboard__title {
  font-family: $main-font;
  font-weight: $main-font-weight;
  color: $navy;
  text-transform: uppercase;
  font-size: 7rem;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: -5;
}

.dashboard__form-div {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.dashboard__form {
  margin-top: $margin-top;
}

.dashboard__input {
  font-family: $body-font;
  font-size: 1rem;
  min-width: 320px;
  text-align: center;
  margin: auto;
  border: $border;
  border-radius: $border-radius;
  padding: $inside-padding;
  transition: $transition;
  background-color: $white;
}

.dashboard__input:focus {
  outline: none;
  border-color: $orange;
}

.dashboard__form-btn {
  font-family: $body-font;
  font-weight: $body-font-weight;
  margin-top: $margin-top;
  background-color: $white;
  font-size: 1rem;
}

.dashboard__form-btn:hover {
  background-color: $red;
  border-color: $white;
  font-weight: 700;
}

.dashboard__songs-div {
  width: 50vw;
  display: flex;
  margin: auto;
  margin-top: $margin-top;
  overflow-x: scroll;
}