@import '../../master';

.login-container {
  margin: auto;
  padding: 45vh 0;
}

.login-btn {
  font-family: $main-font;
  font-weight: $main-font-weight;
  font-size: 3rem;
  text-decoration: none;
  color: $navy;
  opacity: 0.7;
  transition: $transition;
  border-radius: $border-radius;
  padding: $inside-padding;
}

.login-btn:hover {
  background-color: $teal;
  opacity: 1;
  color: $white;
}