@import '../../master';

.login-container {
  margin: auto;
  padding: 45vh 0;
}

.login-btn {
  font-size: 3rem;
  text-decoration: none;
  font-family: $main-font;
  font-weight: $main-font-weight;
}

.login-btn:hover {
  background-color: $teal;
}