@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Do+Hyeon&family=Dosis:wght@200;300;400;500&family=Jua&display=swap');

/*
font-family: 'Barlow', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Jua', sans-serif;
*/

$main-font: 'Barlow', sans-serif;
$main-font-weight: 700;
$body-font: 'Dosis', sans-serif;
$body-font-weight: 400;

$navy: #011627;
$white: #FDFFFC;
$teal: #2EC4B6;
$red: #E71D36;
$orange: #FF9F1C;

$transition: 0.5s;

$border: 2px solid #011627;
$border-radius: 25px;

$inside-padding: 0.5rem 1rem;
$margin-top: 2rem;

body {
  background-color: $white;
}

.section {
  display: flex;
  flex-direction: column;
}

.btn {
  color: $navy;
  opacity: 0.8;
  transition: $transition;
  border-radius: $border-radius;
  padding: $inside-padding;
}

.btn:hover {
  opacity: 1;
  color: $white;
}