@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Do+Hyeon&family=Dosis:wght@200;300;400;500&family=Jua&display=swap');

/*
font-family: 'Barlow', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Jua', sans-serif;
*/

$main-font: 'Barlow', sans-serif;
$main-font-weight: 600;
$body-font: 'Dosis', sans-serif;
$body-font-weight: 200;

$navy: #011627;
$white: #FDFFFC;
$teal: #2EC4B6;
$red: #E71D36;
$orange: #FF9F1C;

$transition: 0.5s;